body {
    font-family: Arial;
}
table{
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: unset;
    margin-left: auto;
    margin-right: auto;

}
thead {
    border: 1px solid black;
    background-color: red;
    color: white;
}
#property {
    font-weight: bold;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
caption {
    border: 1px solid gray;
    font-weight: bold;
    text-transform: uppercase;
}
p {
    font-size: large;
    text-align: center;
}
#gray {
    background-color: lightgrey;
}
td {
  padding-right: 8px;
    padding-left: 8px;
}