figure {
    float: right;
}
body {
    font-family: Arial;
    background-color:#D2E0E6 ;
}
table{
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: unset;

}
thead {
    border: 1px solid black;
    background-color: deepskyblue;
    color: white;
}
#property {
    font-weight: bold;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
caption {
    border: 1px solid gray;
    font-weight: bold;
    text-transform: uppercase;
}
p {
    font-size: large;
    text-align: center;
}
#gray {
    background-color: lightgrey;
}
td {
    padding-right: 8px;
    padding-left: 8px;
}
#one {
    border: 1px solid black;
    width: 70%;
    background-color:#4A91CE;
}
#two {
    border: 1px solid black;
    width: 70%;
    background-color:#66ffff;
}
#three {
    border: 1px solid black;
    width: 70%;
    background-color: #a4d4e6;
}
footer {
    text-align: center;
}
