body {
    font-family: Arial;
}
tr.one {
    background-color: lightskyblue;
}
tr.two {
    background-color: blanchedalmond;
}
tr.three {
    background-color: indianred;
}
td::first-line {
    font-weight: bold;
    font-size: 25px;
}

table {
    border-collapse: collapse;
    margin: 2em;
    margin-left: auto;
    margin-right: auto;
}
td {

    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1.5em;
}
h1 {
    text-align: center;
    font-size: 70px;
    margin: 10px;
}
img {
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid lightblue;
}
figcaption{
    text-align: center;
    font-weight: bold;
}

