body {
    font-family: Arial, Verdana, sans-serif;
    background-color: lightgoldenrodyellow;
}

h1, h2 {
    color: maroon;
}
li {
    color: darkgrey;

}
ul,ol {
    padding-left: 5%;
    border-top: solid black;
    border-right: solid black;
    border-bottom: solid black;
    border-left: solid black;
    border-image: none;
}
p {
    padding-left: 5%;
}
figcaption {
    font-size: 0.8em;
    font-weight: bold;
}
p.copyright_notice {
    font-size: 0.8em;
}
#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}
p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}