body {
    background-color: #E0F2BE;
}
input[type="text"] {
    color : blue;
    background-color: #C2CCD1;
}
#payment {
    background-color:#7ac0da;
}
#name {
    background-color: honeydew;
}
textarea {
    background-color: #b83f45;
}
legend{
    color: red;
}
h1 {
    text-align: center;
    color:#b83f45;
    font-weight: bold;
}
fieldset {
    border: 2px solid blue;
    border-radius: 1em;
}
div {
    display: inline-block;
}
#first {
    display: block;

}
form {

    border: 2px solid blue;
    border-radius: 1em;
}